/* CSS declarations go here */
body,input {
	font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

#naam {
    background-color: lightblue;
    text-align: center;
    padding: 1%;
}

#footer-reset {
    background-color: lightblue;
    text-align: center;
    padding: 1%;
}


