/* CSS declarations go here */
body {
	font-family: 'Roboto', sans-serif;
    font-size: 200%;
}

table#vragenOverzicht {
    border: 1px solid black;
}

table#vragenOverzicht tr:nth-child(even) {
    background-color: #eee;
}



